*{
    box-sizing: border-box;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
}


.container{
    height: 110vh;

margin: 0px;
width:100vw;

}

.thread-logo{
    width: 20vw;
    height: 15vh;
}
.login{
    padding: 30px 0px;
    
        font-size: 1.5rem;
        font-family: comfortaabold, sans-serif;
    
}
.influencer{
    width: 35vw;
    height: 15vh;
}
.thread-bounty{
    width: 17vw;
    height: 15vh;
}
footer{
    display: flex;
    flex-direction: row;
    
}
#brand-button
{
    background-color: red;
    font-size: 1.5rem;
    padding: 1.1%;
    color: white;
    height: 30%;
    
    margin-left: 35%;
    margin-top: 2%;
    letter-spacing: 8px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
span{
    padding: 0px 5px;
}
a{
    color: black!important;
}
#footer:hover{
    text-decoration: none;
}
